@use "../../styles/variables" as *;
.hero-container {
    .name {
        font-size: 3rem;
        span {
            color: $primary !important;
        }
    }
    .hero-image {
        width: 50%;
        box-shadow: 0 20px 40px rgba(34, 197, 94, 0.25);
    }
    .hero-buttons {
        a {
            background-color: $primary-dark;
            border:0;
        }
    }
    .indicators {
        .boxes {
            background-color: $card-bg;
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 991px) {     
    .hero-container {
        margin-top: 100px !important;
        .name {
            font-size: 2rem;
        }
        .hero-image {
            width: 100%;
            margin-bottom: 20px;
        }
        .indicators {
            .boxes {
                width: 100%;
                height: 100%;
            }
        }
    }
}
