@use "./variables" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $bg-primary;
  color: white;
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

//Form Css
input, textarea {
  background-color: $card-bg !important;
  color: $text-primary !important;
  border: 1px solid $border-color !important;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  font-size: 16px;
}

::placeholder {
  color: $text-secondary !important;
}

.toast-container {
  .btn-close {
    background-color: transparent !important;
    opacity: 1 !important;
  }
}

button {
  background-color: $primary-dark !important;
  border: 0 !important;
}

.page-title {
  margin-bottom: 30px;
  &::after {
    content: "";
    display: block;
    width: 5%;
    height: 7px;
    background-color: $primary;
    margin-top: 10px;
  }
}

.icon-blue {
  color: $primary;
}

.text-muted {
  color: $text-secondary !important;
}

@media (max-width: 991px) {
  .page-title {
    &::after {
      width: 20%;
    }
  }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: $bg-primary;
}

::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 50px;
    border: 2px solid $bg-primary;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $primary;
}

* {
    scrollbar-width: thin;
    scrollbar-color: $primary $bg-primary;
}