@use "../../styles/variables" as *;

.cta-section{
    background:#0b1120;
    .cta-card{
        background:linear-gradient(216deg, #1f2937, $primary, $primary-dark);
        border-radius:20px;
        padding:35px;
        position:relative;
        overflow:hidden;
        box-shadow:0 20px 50px rgba(0,0,0,.35);
        .white-btn {
            border: 1px solid $text-primary !important;
            background-color: $primary !important;
        }
    }
}
